{% import "macros/logo.njk" as logo %}

{% macro header() %}
  <nav class="container">
    <ul>
      <li>
        <strong>{{ title }}</strong>
      </li>
    </ul>
    {% if user %}
      <ul>
        <li>
          <details class="dropdown hamburger">
            <summary>
              <span class="sr-only">Menu</span>
            </summary>
            <ul dir="rtl">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/profile">Profile</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    {% else %}
      <ul>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    {% endif %}
    </details>
  </nav>
{% endmacro %}

{% macro guest() %}
<ul>
  <li>
    <a href="/login">
      Login <i aria-hidden="true" class="fa-solid fa-arrow-right"></i>
    </a>
  </li>
</ul>
{% endmacro %}

{% macro user() %}
<aside id="side-nav" class="container-fluid">
  <div id="nav-logo">
    {{ logo::plain() }}
  </div>

  <nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</aside>
{% endmacro %}
