{% extends "layouts/default.njk" %}

{% block content %}

{# Main #}
<main class="container">
  <header>
    <hgroup>
      <h1>A Page</h1>
      <p>
        Here is a page with a header and some content.
      </p>
    </hgroup>
  </header>

  <div>Content...</div>
</main>
{% endblock %}
