{{#> layout}}
  {{#*inline "body"}}
    <header class="container">
      <hgroup>
        <h1>HTMX Demo</h1>
        <p>Click the button to see the magic happen!</p>
      </hgroup>

      <button hx-get="/" hx-target="#content">Click me!</button>
    </header>

    <main class="container">
      <div id="content">
        <p>
          This is the content that will be replaced by the response from the server.
        </p>
      </div>
    </main>
  {{/inline}}
{{/layout}}
