{% extends "layouts/default.njk" %} {% block content %}
<div class="container-fluid">
  <section>
    <header>
      <hgroup>
        <h1>Home</h1>
        <p>Welcome to the home page</p>
      </hgroup>
    </header>

    <p>{{ user.email }}</p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quidem,
      facere, numquam, quaerat iste soluta delectus cumque non error nisi
      tempore eligendi asperiores quos architecto totam est vero! Doloremque,
      corrupti.
    </p>

    <article>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
        quidem, facere, numquam, quaerat iste soluta delectus cumque non error
        nisi tempore eligendi asperiores quos architecto totam est vero!
        Doloremque, corrupti.
      </p>
    </article>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quidem,
      facere, numquam, quaerat iste soluta delectus cumque non error nisi
      tempore eligendi asperiores quos architecto totam est vero! Doloremque,
      corrupti.
    </p>
  </section>

  <button data-target="my-modal" onclick="toggleModal(event)">
    Open Modal
  </button>

  <dialog id="my-modal">
    <article>
      <header>
        <h3>Confirm Your Membership</h3>
      </header>

      <p>
        Thank you for signing up for a membership! Please review the membership
        details below:
      </p>
      <ul>
        <li>Membership: Individual</li>
        <li>Price: $10</li>
      </ul>

      <footer>
        <button
          className="secondary"
          data-target="my-modal"
          onclick="toggleModal(event)"
        >
          Cancel
        </button>
        <button>Confirm</button>
      </footer>
    </article>
  </dialog>
</div>
{% endblock %}
