{% extends "layouts/default.njk" %} {% block content %}
<section class="hero">
  <img
    src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
  />

  <header>
    <hgroup>
      <h1>Data to enrich your online business</h1>
      <p>
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
      </p>
    </hgroup>
  </header>

  <div>
    <span>Announcing our next round of funding.</span>
    <br />
    <a class="secondary" href="#">
      Read more <i aria-hidden="true" class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
</section>

<section class="container" style="margin-top: 4rem">
  <header>
    <hgroup>
      <h1>A Page</h1>
      <p>Here is a page with a header and some content.</p>
    </hgroup>
  </header>

  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
      ullamcorper porttitor suscipit. Vestibulum ante ipsum primis in faucibus
      orci luctus et ultrices posuere cubilia curae; Nulla a magna vitae tellus
      ultrices rutrum nec vel nunc. Praesent rutrum ante vitae massa eleifend
      cursus. Quisque eu dui eu elit porttitor pellentesque. Vestibulum et massa
      ac orci euismod auctor. Mauris laoreet est a neque dapibus, non volutpat
      velit rhoncus. Curabitur eros velit, sodales ut magna vitae, ultrices
      rutrum lorem. Praesent dignissim, orci quis ultrices ullamcorper, nisl
      diam fermentum erat, id ullamcorper quam augue nec ligula. Etiam in nulla
      sed lorem dapibus dignissim. Curabitur varius velit vel dui hendrerit
      malesuada. Vivamus in mollis turpis, non molestie lacus.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Nunc consectetur nec felis non facilisis. Suspendisse
      vulputate mauris sapien, fermentum sagittis lectus sodales at. Quisque id
      sagittis augue, id lobortis tellus. Nulla varius tellus eget lorem congue
      accumsan. Morbi tincidunt nisi eu nisi accumsan venenatis. In semper ex in
      lacus efficitur lacinia.
    </p>
    <p>
      Phasellus efficitur quis urna ac suscipit. Sed egestas volutpat nisi, non
      hendrerit lorem consequat in. Nunc porttitor odio sed efficitur lobortis.
      Donec egestas, sem vel aliquet facilisis, purus turpis ornare lacus, non
      tempus mauris metus eu erat. Donec gravida metus a elementum imperdiet. In
      lobortis viverra velit sit amet hendrerit. Sed tortor sem, ultricies in
      turpis fringilla, placerat sodales dui. Sed lobortis eu metus id
      venenatis. Maecenas justo enim, tempus sed leo quis, congue efficitur
      tellus. Aenean ullamcorper elit dignissim diam commodo faucibus. Donec
      vulputate mauris at mauris tempor pharetra. Vestibulum et condimentum
      ipsum, ac auctor libero. Nam gravida commodo cursus. Sed sed arcu vitae
      purus elementum mattis ac sit amet est. Pellentesque dictum elit urna, nec
      mattis leo aliquet eu. Integer ac leo malesuada, ullamcorper nisi at,
      mollis massa.
    </p>
    <p>
      Ut imperdiet iaculis tellus, sed faucibus nisi volutpat eget. Donec
      molestie justo a porta imperdiet. Cras ut ex porttitor, convallis nibh
      quis, imperdiet felis. Fusce tempus tortor et orci ultrices fringilla. In
      hac habitasse platea dictumst. Aliquam tincidunt lorem metus. Maecenas
      eleifend sem sit amet interdum pellentesque. Pellentesque faucibus, leo
      nec scelerisque gravida, libero enim laoreet sapien, et ornare mi tortor
      nec turpis. Donec facilisis iaculis feugiat.
    </p>
  </article>
</section>
{% endblock %}
