{% extends "layouts/default.njk" %} {% block content %}
<style>

</style>

{# Nav #}
<nav class="container-fluid">
  <ul>
    <li>
      <a href="./" class="contrast" onclick="event.preventDefault()">
        <strong>Brand</strong>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/login">Login</a>
    </li>
  </ul>
</nav>

{# Main #}
<main class="container">
  <header>
    <hgroup>
      <h1>A Page</h1>
      <p>
        Here is a page with a header and some content.
      </p>
    </hgroup>
  </header>

  <div>Content...</div>
</main>
{% endblock %}
