{% import "macros/nav.njk" as nav %}
{% import "macros/logo.njk" as logo %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Guest | {{ title }}</title>

    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    {# PicoCSS #}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.orange.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />

    {# Custom CSS #}
    <link rel="stylesheet" href="{{ asset_path(name = 'style.css') }}" />

    {# HTMX #}
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <script src="https://kit.fontawesome.com/ff80b2ed10.js" crossorigin="anonymous"></script>

    <script type="module" src="{{ asset_path(name = 'modal.js') }}"></script>
  </head>

  {% if user %}
  <body class="authenticated">
  {% else %}
  <body class="guest">
  {% endif %}
    <header>
      <nav class="container-fluid">
        <ul>
          {% if not user %}
          <li>
            <a id="header-logo" href="/">
              <span class="sr-only">Landing Page</span>
              {{ logo::plain() }}
            </a>
          </li>
          {% endif %}
          <li>
            <strong>{{ title }}</strong>
          </li>
        </ul>
        {% if not user %}
          {{ nav::guest() }}
        {% endif %}
      </nav>
    </header>

    {%if user %}
      {{ nav::user() }}
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
